
html {
  font-family: 'Righteous';
  font-size: 1.125rem;
  /* me permite deslizar cuando hago clic en los links del menu */
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;  
}
header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  background: rgba(238, 44, 238, 0.5);  
  padding: 0rem 3.125rem;
  align-items: center;
  width: 95%;
  max-height: 5rem;
  border-bottom: .0625rem solid rgb(7, 7, 7);
  z-index: 99;
}
.texto{  
  display: flex;
  flex-direction: row;      
  height: 4.3125em;
  color: white;

}
header h1{
  font-size: 2.500rem;    
}
.inicio h2{
  text-align: center;
  font-size: 2.625rem;
  padding: 0;
  margin: 0;
}
header h4{  
  font-size: 1rem;  
  margin: .3125rem 0;  
  ;  
}
h4:hover{
  color: rgb(10, 10, 10);
}
.inicio__article p{
  text-align: justify;
}

nav {  
  margin: .625rem;
  }

nav > a{
    color:#ffffff;
    font-weight: 300;
    text-decoration: none;
    margin-right: .625rem;
}
nav > a:hover{
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

.nav-responsive{
  background-color: #1CB698;
  color:#fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

/*Contenedor Inicio*/
.inicio{
  display: flex;  
  position: relative;
  align-items: center;
  justify-content: center; /* Centra horizontalmente */
  height: 120vh; /* Ajusta la altura de la section al 100% del viewport */
  background-image: url(imagenes/fondo-inicio.png);
  border: .1875rem solid rgba(238, 44, 238);
}
.inicio__article {
  max-width: 18.75rem;
  padding: 0 .625rem;
  margin: 2.625rem;
  background: transparent;
  backdrop-filter: blur(15px);
  color:antiquewhite;  
  border-radius: .9375rem;
  border: .125rem solid rgba(238, 44, 238, 0.993);
}
.inicio-article__contenedor{
  margin-top: 10px;
}
.inicio-article__contenedor img{  
    border: .125rem solid rgba(238, 44, 238, 0.993);
    display: block;
    width: 70%;
    margin: auto;
    border-radius: 2.5rem;
}

.inicio .inicio__article .redes{
  display: flex;
    flex-direction: row;
    justify-content: center;
}

.inicio .inicio__article .redes a{
  color: #fff;
  display: flex;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  justify-content: center;
  align-items: center;
  margin: 15px 5px;
  font-size: 20px;
  transition: .3s;
}
.inicio .inicio__article .redes a:hover{
  background-color: #1CB698;
}

  /*Sobre mí*/

.sobremi{
  background-image: url(imagenes/fondo2.jpg);
  background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  border: .1875rem solid rgba(238, 44, 238);  
  padding: 3.125rem 1.25rem;
}
.sobremi .contenido-seccion{
  max-width: 68.75rem;
  margin: auto;
  color: #ffffff;
}
.sobremi h2{
  font-size: 3rem;
  font-family: 'Righteous';
  text-align: center;
  padding: 20px 0; 

}
.sobremi .contenido-seccion p{
  font: 1.125rem;
  line-height: 1.375rem;
  margin-bottom: 1.25rem;  
  background: transparent;
  backdrop-filter: blur(15px);
  color: #000000;
}
.sobremi .contenido-seccion p span{
  color: #070707;
  font-weight: bold;
}
.sobremi .fila{
  display: flex;
}
.sobremi .fila .col
{
  width: 50%;
}
.sobremi .fila .col h3{
  font-size: 1.75rem;
  font-family: 'Righteous';
  margin-bottom: 1.5625rem;
}
.sobremi .fila .col ul{
  list-style: none;
}
.sobremi .fila .col ul li{
  margin: 12px 0;
  color: #000000;
}
.sobremi .fila .col ul li strong{
  display: inline-block;
  color: #000000;
  width: 8.125rem;
}
.sobremi .fila .col ul li span{
  background-color: rgba(238, 44, 238, .6);
  padding: .1875rem;
  font-weight: bold;
  border-radius: .3125rem;
}
.sobremi .fila .col .contenedor-intereses{
  display: flex;
  flex-wrap: wrap;
}
.sobremi .fila .col .contenedor-intereses .interes{
  width: 6.5625rem;
  height: 6.25rem;
  background-color: #252A2E;
  border-radius: .625rem;
  margin: 0 .9375rem .9375rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .3s;
}.sobremi .fila .col .contenedor-intereses .interes:hover{
  background-color:rgba(238, 44, 238);
}
.sobremi .fila .col .contenedor-intereses .interes i{
  font-size: 1.875rem;
  margin-bottom: .625rem;
}
.sobremi button{
  cursor: pointer;
  background-color: transparent;
  border: .125rem solid #fff;
  width: fit-content;
  display: block;
  margin: 1.25rem auto;
  padding: 10px 1.375rem;
  font-size: 1rem;
  color: #fff;
  position: relative;
  z-index: 10;
  transition: .3s;
}

.sobremi button:hover{
  background-color: rgba(238, 44, 238);
}




/* SECCION habilidades */
.skills{
  background-image: url(imagenes/fondo1.jpg);
  background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  border: .1875rem solid rgba(238, 44, 238);
  color: #ffffff;
  padding: 3.125rem 1.25rem;
}
.skills .contenido-seccion{
  max-width: 68.75rem;
  margin: auto;

  background-color: rgba(238, 44, 238, .5);
}
.skills h2{
  font-size: 3rem;
  font-family: 'Righteous';
  text-align: center;
  padding: 1.25rem 0;
}
.skills .fila{
  display: flex;
}
.skills .fila .col{
  width: 50%;
  padding: 0 5.3125rem;
}
.skills .fila .col h3{
  font-size: 1.75rem;
  font-family: 'Righteous';
  margin-bottom: 1.5625rem;
}
.skills .skill > span{
  font-weight: bold;
  display: block;
  margin-bottom: 20px;
}
.skills .skill .barra-skill{
  height: .5rem;
  width: 65%;
  background-color: #131517;
  position: relative;
  margin-bottom: 1.875rem;
}
.skills .skill .progreso{
  background-color: #1CB698;
  position: absolute;
  top: 0;
  left: 0;
  height: .5rem;
}
.skills .skill .barra-skill span{
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #1CB698;
  border-radius: 3.125rem;
  line-height: 2.5rem;
  text-align: center;
  top: -1.0625rem;
  right: -0.9375rem;
  font-size: .875rem;
}

/* SECCION PORTFOLIO */
.portfolio{
  background-image: url(imagenes/fondo5.png);
  background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  border: .1875rem solid rgba(238, 44, 238);  
  color: white;
  padding: 3.125rem 1.25rem;
}
.portfolio .contenido-seccion{
  max-width: 68.75rem;
  margin: auto;  
}
.portfolio h2{
  font-size: 3rem;
  font-family: 'Righteous';
  text-align: center;
  padding: 1.25rem 0;
}
.portfolio .galeria{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.portfolio .galeria .proyecto{
  position: relative;
  max-width: 21.25rem;
  height: fit-content;
  margin: .625rem;
  cursor: pointer;
  border: .125rem solid rgba(238, 44, 238);
}
.portfolio .galeria .proyecto img{
  width: 100%;
  display: block;
}
.portfolio .galeria .proyecto .overlay{ /*boton descargar CV*/
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: linear-gradient(rgba(28,182,152,.8), rgba(28,182,152,.8));
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;
  font-size: 1.125rem;
  letter-spacing: .1875rem;
  opacity: 0;
}
.portfolio .galeria .proyecto .overlay h3{
  margin-bottom: 1.25rem;
  transition: 1s;
}
.portfolio .galeria .proyecto .overlay:hover{
  opacity: 1;
}
.portfolio .galeria .proyecto .overlay:hover h3{
  margin-bottom: 0;
}

/* SECCION CONTACTO */
.contacto{
  background-image: url(imagenes/fondo4.jpg);
  background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  border: .1875rem solid rgba(238, 44, 238);  
  padding: 3.125rem 0;
}
.contacto .contenido-seccion{
  max-width: 68.75rem;
  margin: auto;
}
.contacto h2{
  font-size: 3rem;
  font-family: 'Righteous';
  text-align: center;
  padding: 1.25rem 0;
  color: #ffffff;
}
.contacto .fila{
  display: flex;
}
.contacto .col{
  width: 50%;
  padding: .625rem;
  position: relative;
  border: .125rem solid rgba(238, 44, 238);
}
.contacto .col input, .contacto .col textarea{
  display: block;
  width: 100%;
  padding: 1.125rem;
  border: none;
  margin-bottom: 1.25rem;    
  color: rgb(0, 0, 0);
  font-size: 1.125rem;
  background: transparent;
  backdrop-filter: blur(30px);
  border: .125rem solid rgba(238, 44, 238);
}
.contacto button{
  cursor: pointer;
  background-color: transparent;
  border: .125rem solid rgba(238, 44, 238);
  width: fit-content;
  display: block;
  margin: 1.25rem auto;
  padding: .625rem 1.375rem;
  font-size: 1rem;
  color: #000000;
  position: relative;
  z-index: 10;
}
.contacto button .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(238, 44, 238);
  z-index: -1;
  transition: 1s;
}
.contacto button:hover .overlay{
  width: 100%;
}
.contacto .col img{
  width: 100%;
  border: .125rem solid rgba(238, 44, 238);
}
.contacto .col .info{
  position: absolute;
  left: 16.25rem;
  max-width: 21.875rem;
  border: .125rem solid rgba(238, 44, 238);
  color: #000000;  
  background-color: #252A2E;
  background: transparent;
  backdrop-filter: blur(.625rem);  
  transform: translate(-50%, -50%);
}
.contacto .col .info ul{
  list-style: none;
}
.contacto .col .info ul li{
  margin-bottom: 1.25rem;
}
.contacto .col .info ul li i{
  color: rgba(238, 44, 238);
  display: inline-block;
  margin-right: 1.25rem;  
}


/* SECCION RESPONSIVE */
@media screen and (max-width:980px){
  nav{
      display: none;
  }
  .nav-responsive{
      display: block;
      margin-right: 1.25rem;
  }
  nav.responsive{
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 0;
      top: 3.6875rem;
      padding-left: .625rem;
      background-color: #584a4ad2;
      width: 20%;
  }
  nav.responsive ul{
      display: block !important;      
  }
  nav.responsive a{
      border-bottom: 1px solid #fff;
      padding: .625rem 0;
  }
  .contacto .contenido-seccion .fila .col .map{   
    position: absolute;
    top: 14.375rem;
    left: 9.375rem;
    border: .125rem solid rgb(2, 252, 85);
}

}
@media screen and (min-width: 401px) and (max-width:706px){
  header .texto h1{
    font-size: 1.5rem;
  }

  nav{
    display: none;
}
.nav-responsive{
    display: block;
    margin-right: 2.25rem;
}
nav.responsive{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 3.6875rem;
    padding-left: .625rem;
    margin-right: 5.25rem;
    background-color: #584a4ad2;
    width: 20%;
}
nav.responsive ul{
    display: block !important;      
}
nav.responsive a{
    border-bottom: 1px solid #fff;
    padding: .625rem 0;
}
  .sobremi .fila{
      display: block;
  }
  .sobremi .fila .col{
      width: fit-content;
  }

  .skills .fila{
      display: block;
  }
  .skills .fila .col{
      width: 100%;
  }
  .skills .fila .col .barra-skill{
      width: 50%;
  }

  .curriculum .fila{
      display: block;
  }
  .curriculum .fila .col{
      width: 90%;
  }
  .curriculum .fila .derecha{
      margin-left: 1.25rem;
  }

  .portfolio .galeria{
      display: block;
      width: 100%;
  }
  .portfolio .galeria .proyecto{
      max-width: 100%;
  }
  .portfolio .galeria .proyecto img{
      width: 100%;
  }
  .contacto .fila{
      display: block;
  }
  .contacto .fila .col{
      width: 100%;
  }
}


@media screen and (max-width:400px){
  header .texto h1{
    font-size: 1.5rem;
  }

  nav{
    display: none;
}
.nav-responsive{
    display: block;
    margin-right: 2.25rem;
}
nav.responsive{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 3.6875rem;
    padding-left: .625rem;
    margin-right: 5.25rem;
    background-color: #584a4ad2;
    width: 20%;
}
nav.responsive ul{
    display: block !important;      
}
nav.responsive a{
    border-bottom: 1px solid #fff;
    padding: .625rem 0;
}
.contacto .contenido-seccion .fila .col .map{   
  position: absolute;
  top: 14.375rem;
  left: 9.375rem;
  border: .125rem solid rgb(2, 252, 85);
}


  .sobremi .fila{
      display: block;
  }
  .sobremi .fila .col{
      width: fit-content;
  }

  .skills .fila{
      display: block;
      margin-top: .625rem;
      border-bottom: 1px solid chartreuse;
  }
  .skills .contenido-seccion h2{
    margin: 10px 0;
  }
  .skills .fila h3{
    width: 90%;     
}
  .skills .fila .col{
      width: 100%;
  }
  .skills .fila .col .barra-skill{
      width: 50%;
  }

  .curriculum .fila{
      display: block;
  }
  .curriculum .fila .col{
      width: 90%;
  }
  .curriculum .fila .derecha{
      margin-left: 20px;
  }

  .portfolio .galeria{
      display: block;
      width: 100%;
  }
  .portfolio .galeria .proyecto{
      max-width: 100%;
  }
  .portfolio .galeria .proyecto img{
      width: 100%;
  }
  .contacto .fila{
      display: block;
  }
  .contacto .fila .col{
      width: 100%;
  }
}


